<% unless comment.archived? %>
  <div class="mb-2">
    <p class="mb-0">
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <p class="mb-0">
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  </div>

<% end %>