<% unless comment.archived? %>
  <div class="mb-2 border shadow-sm p-2 rounded">
    <div class="row">
      <div class="w-75">
        <p class="mb-0">
          <strong>Commenter:</strong>
          <%= comment.commenter %>
        </p>
        <p class="mb-0">
          <strong>Comment:</strong>
          <%= comment.body %>
        </p>
      </div>
      <div class="w-25 text-end">
        <%= link_to "Remove", [comment.article, comment], 
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          }, class: "btn btn-danger px-3 btn-sm mt-2" %>
        </div>
    </div>
  </div>

<% end %>